<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="author" content="NextGenerationDev">
   <title>Salud - Fitness & Gym HTML Template</title>
   <!--Favicon img-->
   <link rel="shortcut icon" href="{% static 'assets/img/favicon/favicon.png' %}">
   <!--Bootstrap min css-->
   <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
   <!--Bootstrap map css-->
   <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css.map' %}">
   <!--Odometer css-->
   <link rel="stylesheet" href="{% static 'assets/css/odometer.css' %}">
   <!--Owl Carousel css-->
   <link rel="stylesheet" href="{% static 'assets/css/owl.min.css' %}">
   <!--Owl Carousel Theme css-->
   <link rel="stylesheet" href="{% static 'assets/css/owl.theme.default.min.css' %}">
   <!--All min css-->
   <link rel="stylesheet" href="{% static 'assets/css/all.min.css' %}">
   <!--Animate css-->
   <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">
   <!--Popup css-->
   <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
   <!--Swiper min css-->
   <link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.min.css' %}">
   <!--Owl Nice select css-->
   <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
   <!--main css-->
   <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
</head>
<body>

<!--==== Scrool Top Bottom Here ======= -->
<div id="progress">
    <span id="valiu"><i class="fa-solid fa-angles-up"></i></span>
</div>
<!--==== Scrool Top Bottom End ======= -->

<!-- Header Here -->
{% include 'base/header.html' %}
<!-- Header End -->

<!--=========== Breadcumd Section Here ========= -->
{#<section class="breadcumd__banner banner__image trainer__bg">#}
{#    <div class="container">#}
{#       <div class="breadcumd__wrapper">#}
{#          <h2 class="left__content wow fadeInUp" data-wow-duration="3s">#}
{#            Trainer Details#}
{#          </h2>#}
{#          <ul class="right__content wow fadeInUp" data-wow-duration="3s">#}
{#             <li>#}
{#                <a href="{% url 'home' %}">#}
{#                   Home#}
{#                </a>#}
{#             </li>#}
{#             <li>#}
{#                <i class="fa-solid fa-chevron-right"></i>#}
{#             </li>#}
{#             <li>#}
{#               Trainers#}
{#             </li>#}
{#          </ul>#}
{#       </div>#}
{#    </div>#}
{#</section>#}
<!--=========== Breadcumd Section End ========= -->

<!--==== Team Details Section Here ======= -->
<section class="team__details pt-120 pb-120">
    <div class="container">
        <div class="row g-5">
{% for trainer in trainers %}
            <div class="col-lg-4">
                <div class="trainner__left">
                    <div class="trainner__thumb wow fadeInLeft" data-wow-duration="3s">
                        <img src="{{ trainer.image_for_trainer.url }}" alt="Trainer Image">
                    </div>
                </div>
                <div class="trainers__cont mt-4">
                    <h5 class="wow fadeInDown" data-wow-duration="3s">{{ trainer.specialization }}</h5>
                    <ul class="wow fadeInUp" data-wow-duration="3s">
                        <li class="mb-2">Experience: <span>{{ trainer.salary }}</span></li>
                        <!-- Добавьте остальные поля, такие как E-mail и Phone, если они есть в вашей модели -->
                    </ul>
                    <ul class="social__icon mt-4 wow fadeInDown" data-wow-duration="3s">
                        <!-- Добавьте социальные ссылки, если они есть в вашей модели -->
                    </ul>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="trainner__right">
                    <div class="trainner__content">
                        <h4 class="wow fadeInDown" data-wow-duration="3s">{{ trainer.name }}</h4>
                        <!-- Добавьте описание тренера, если оно есть в вашей модели -->
                        <!-- Добавьте личные навыки тренера, если они есть в вашей модели -->
                        <div class="progressbar-wrap style__progress">
                            <!-- Добавьте прогресс-бары для навыков, если они есть в вашей модели -->
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!--==== Team Details Section End ======= -->


<!--=========== Footer Section Here ========= -->
{% include 'base/footer.html' %}
<!--=========== Footer Section End ========= -->

<!--Jquery 3 6 0 Min Js-->
<script src="{% static 'assets/js/jquery-3.7.1.min.js' %}"></script>
<!--Bootstrap bundle min Js-->
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<!--Viewport Jquery Js-->
<script src="{% static 'assets/js/viewport.jquery.js' %}"></script>
<!--Wow min Js-->
<script src="{% static 'assets/js/wow.min.js' %}"></script>
<!--Odometer Up min Js-->
<script src="{% static 'assets/js/odometer.min.js' %}"></script>
<!--Owl Carousel min Js-->
<script src="{% static 'assets/js/owl.min.js' %}"></script>
<!--Popup min Js-->
<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
<!--Owl nice Jquery min Js-->
<script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
<!--Swiper min Js-->
<script src="{% static 'assets/js/swiper-bundle.min.js' %}"></script>
<!--main Js-->
<script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>





